<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t.medicaldocument.mapper.PdfFileMapper">

    <resultMap id="BaseResultMap" type="com.t.medicaldocument.entity.PdfFile">
            <id property="pdfId" column="pdf_id" jdbcType="BIGINT"/>
            <result property="pdfFileName" column="pdf_file_name" jdbcType="VARCHAR"/>
            <result property="pdfTitle" column="pdf_title" jdbcType="VARCHAR"/>
            <result property="pdfAuthor" column="pdf_author" jdbcType="VARCHAR"/>
            <result property="pdfPagecount" column="pdf_pagecount" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        pdf_id,pdf_file_name,pdf_title,
        pdf_author,pdf_pagecount,create_time,
        update_time,is_delete
    </sql>
</mapper>
